.chat-container {
  /* background-color: red; */
  width: 1200px;
  max-width: 1200px;
  border: 1px solid #1a0707;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.chat-messages {
  height: 400px;
  /* max-width: 1200px; */
  /* width: 100%; */
  overflow-y: scroll;
  /* overflow-wrap: break-word; */
  padding: 10px;
}

.message>pre {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.user>pre {
  background-color: #f0f0f0;
  text-align: right;
}

.system>pre {
  width: fit-content;
  background-color: #d3e9ff;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input-field {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.send-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}
